/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    
    header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    }
    
    nav ul {
    list-style: none;
    }
    
    nav ul li {
    display: inline;
    margin-right: 20px;
    }
    
    nav ul li a {
    color: white;
    text-decoration: none;
    }
 
    
    .products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    }
    
    .product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 10px;
    }
    
    .product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    }
    
    .product button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    }
    
    .product button:hover {
    background-color: #555;
    }
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        }